{% extends 'core/list.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ content_title }}{% endblock %}

{% block head_list %}
<!--jQuery UI-->
<link rel="stylesheet" href="{% static 'core/lib/jquery-ui/css/jquery-ui.min.css' %}">
<!--select2-->
<link rel="stylesheet" href="{% static 'core/lib/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'core/lib/select2/css/select2-bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            {% if action == 'add' %}
            <i class="fas fa-plus"></i>
            {% else %}
            <i class="far fa-edit"></i>
            {% endif %}

            {{content_title}}
        </h3>
        {% block btn_list %}{% endblock %}
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form method="post" class="form-validate">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{action}}">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header bg-gradient-secondary">
                            <h3 class="card-title">Detalle de Producto</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Buscar Productos</label>
                                <input type="text" class="form-control" id="id-products-autocomplete" placeholder="Ingrese Código de Barra o Nombre del Producto">
                            </div>

                            <div class="row">
                                <div class="col-12 table-responsive">
                                    <table id="tblProducts" class="table table-sm table-bordered table-hover">
                                        <thead class="bg-light">
                                        <tr>
                                            <th width="15%">Código</th>
                                            <th>Productos Seleccionados</th>
                                            <th width="5%">Cantidad</th>
                                            <th width="10%">Precio</th>
                                            <th width="10%">Subtotal</th>
                                            <th width="5%"></th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header bg-gradient-secondary">
                            <h3 class="card-title">Detalle de la Venta</h3>
                            <div class="card-tools">
                                <span id="date-sale"></span> - <span id="time-sale"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Personal:</label>
                                {{form.user}}
                            </div>
                            {% if perms.auth.add_group %}
                            <div class="form-group">
                                <label>{{form.type_sale.label}}</label>
                                {{form.type_sale}}
                            </div>
                            <div class="form-group">
                                <label>{{form.observation.label}}</label>
                                {{form.observation}}
                            </div>
                            {% endif %}
                            <label>Total</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                </div>
                                {{form.total_sale}}
                            </div>
                            <label>Total Productos</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-cart-plus"></i></span>
                                </div>
                                {{form.total_prod}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% block btn_add %}
            <div class="d-flex justify-content-end">
                <button class="btn bg-gradient-secondary mr-2" onclick="location.reload();">
                    <i class="fas fa-times"></i> Cancelar
                </button>
                <button type="submit" class="btn btn-cerezo">
                    <i class="fas fa-save"></i>
                    Procesar
                </button>
            </div>
            {% endblock %}
        </form>
    </div>
    <!-- /.card-body -->
</div>
{% endblock %}

{% block js %}
<!--jQuery UI-->
<script src="{% static 'core/lib/jquery-ui/js/jquery-ui.min.js' %}"></script>
<!--select2-->
<script src="{% static 'core/lib/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'core/lib/select2/js/i18n/es.js' %}"></script>
<script src="{% static 'core/js/select2.js' %}"></script>
<!---->
<script src="{% static 'sale/js/form.js' %}"></script>
{% endblock %}

