{% extends 'core/list.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ content_title }}{% endblock %}

{% block head_list %}
<!--jQuery UI-->
<link rel="stylesheet" href="{% static 'core/lib/jquery-ui/css/jquery-ui.min.css' %}">
<!--select2-->
<link rel="stylesheet" href="{% static 'core/lib/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'core/lib/select2/css/select2-bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            {% if action == 'add' %}
            <i class="fas fa-plus"></i>
            {% else %}
            <i class="far fa-edit"></i>
            {% endif %}
            {{content_title}}
        </h3>
        <div class="card-tools">
            <a href="{{ list_url }}" class="btn bg-gradient-success">
                <i class="fas fa-list-alt"></i> Lista
            </a>
        </div>
    </div>

    <div class="card-body">
        <form method="post" class="form-validate" id="form-general">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{action}}">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header bg-gradient-secondary">
                            <h3 class="card-title">Detalle de Productos</h3>
                            <div class="card-tools">
                                <button type="button" id="btn_new_product" class="btn bg-gradient-primary" data-toggle="modal" data-target="#myModalProduct">
                                    <i class="fas fa-plus-circle"></i> Nuevo Producto
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <label>Buscar productos</label>
                                    <div class="form-group">
                                        <!--BUSCADOR DE PRODUCTOS-->
                                        <input type="text" id="id-products-autocomplete" class="form-control" placeholder="Ingrese Código de Barra o Nombre del Producto" autocomplete="off">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 table-responsive">
                                    <table class="table table-sm table-bordered table-hover" id="tblProducts">
                                        <thead class="bg-light">
                                        <tr>
                                            <th width="30%">Productos Seleccionados</th>
                                            <th width="5%">Cantidad</th>
                                            <th width="15%">Precio Compra</th>
                                            <th width="15%">Precio Venta</th>
                                            <th width="15%">Subtotal (P.C)</th>
                                            <th width="5%"></th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header bg-gradient-secondary">
                            <h3 class="card-title">Detalle de Compra</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>{{ form.date_register.label }}</label>
                                {{ form.date_register }}
                            </div>
                             <div class="form-group">
                                <label>{{ form.provider.label }}</label>
                                <div class="input-group">
                                    {{ form.provider }}
                                    <span class="input-group-append">
                                    <button type="button" id="btn_new_provider" class="btn bg-gradient-primary" data-toggle="modal" data-target="#myModalProvider">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>{{ form.n_invoice.label }}</label>
                                {{ form.n_invoice }}
                            </div>
                            <div class="form-group">
                                <label for="id_date_invoice">{{ form.date_invoice.label }}</label>
                                {{ form.date_invoice }}
                            </div>
                            <label>Total</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                </div>
                                <input type="number" name="total" value="0" readonly="" autocomplete="off" class="form-control" required="" id="id_total">
                            </div>
                            <label>Total Productos</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-cart-plus"></i></span>
                                </div>
                                <input type="number" name="total_prod" value="0" readonly="" autocomplete="off" class="form-control" required="" id="id_total_prod" aria-invalid="false">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% block btn_add %}
            <div class="d-flex justify-content-end">
                <a href="{{ list_url }}" class="btn bg-gradient-secondary mr-2">
                    <i class="fas fa-times"></i> Cancelar
                </a>
                <button type="submit" class="btn bg-gradient-success">
                    <i class="fas fa-save"></i>
                    Guardar
                </button>
            </div>
            {% endblock %}
        </form>
    </div>
</div>

{% endblock %}

{% block js %}
<!--jQuery UI-->
<script src="{% static 'core/lib/jquery-ui/js/jquery-ui.min.js' %}"></script>
<!--select2-->
<script src="{% static 'core/lib/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'core/lib/select2/js/i18n/es.js' %}"></script>
<script src="{% static 'core/js/select2.js' %}"></script>
<!---->
<script src="{% static 'buy/js/form.js' %}"></script>
{% endblock %}

{% block javascript %}
<div class="modal fade" id="myModalProduct" data-backdrop="static">
    <form method="post" class="form-validation" id="formProduct">
        {% csrf_token %}
        <div class="modal-dialog modal-dialog-scrollable modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-break">Nuevo Producto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="action" value="add_product">
                    {{form_product.as_p}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-danger" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn bg-gradient-success">Guardar</button>
                </div>
            </div>
        <!-- /.modal-content -->
        </div>
    <!-- /.modal-dialog -->
    </form>
</div>

<div class="modal fade" id="myModalProvider" data-backdrop="static">
    <form method="post" class="form-validation" id="formProvider">
        {% csrf_token %}
        <div class="modal-dialog modal-dialog-scrollable modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-break">Nuevo Proveedor</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="action" value="add_provider">
                    {{form_provider.as_p}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-danger" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn bg-gradient-success">Guardar</button>
                </div>
            </div>
        <!-- /.modal-content -->
        </div>
    <!-- /.modal-dialog -->
    </form>
</div>
{% endblock %}


